
/* default browsers apply certain properties to elements */
/* This resets the browser applied properties on every element */
*,
*::after,
*::before { /*universal selector*/
    margin: 0;
    padding: 0;
    box-sizing: inherit; /* elements will inherit whatever the parent box-sizing is, as specificed in the body*/
}

html {
    /*1rem = 10px now since the root font size is 10px*/
    /* font-size: 10px;  */
    
    /* 62.5% out of 16px is 10px, better to adpat according to browser font-size */
    // this defines what 1rem is 
    font-size: 62.5%; // 10 px

    // @include respond-phone { // media query mixin
    //     font-size: 50%;
    // }

    // uneccessary since tab-port overrides it with the same content
    // @include respond(phone) { // media query mixin
    //     font-size: 50%; // 
    // }

    // width < 1200?
    @include respond(tab-land) { // media query mixin
        font-size: 56.25%; // 1 rem = 9px, 9/16
    }

    // width < 900?
    @include respond(tab-port) { // media query mixin
        font-size: 50%; // 1 rem = 8px, 8/16
    }
    // width < 600?
    // @include respond(phone) { // media query mixin
    //     font-size: 30%; // 1 rem = 8px, 8/16
    // }

    // width > 1800?
    @include respond(big-desktop) { // media query mixin
        font-size: 75%; // 1 rem = 12px, 12/16
    }

}

body {
    padding: 3rem;
    /* sets its so paddings and borders do not add to the width/height of the total height*/
    box-sizing: border-box; 

    @include respond(tab-port) { // media query mixin
        padding: 0;
    }
}